<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Varmlen</vendor>
  <vendor_url>https://github.com/Varmlen</vendor_url>
  <action id="app.varmlen.client.start-daemon">
    <description>Start the Varmlen networking service</description>
    <message>Authentication is required to start the Varmlen networking service</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <!-- The installed daemon exposes only a bounded, peer-credential-checked
           protocol to the active desktop user. Starting that fixed root-owned
           binary must not require a password again after every reboot. -->
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/varmlen/varmlend</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
</policyconfig>
